.ShipmentList {
    margin: 0 auto;
    width: 50vw;
    text-align: left;
}

.ShipmentListItem {
    list-style-type: none;
    padding: .5em;
    margin: 1em auto;
    /* box-shadow: 0 0 5px #ccc; */
    border: 1px solid #ddd;
    border-left: 6px solid #aaa;
    border-radius: 5px;
}

.ShipmentListItem-title {
    font-size: 1.4rem;
    font-weight: bold;
}