.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-loading-message {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 2em auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-swing infinite 12s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 0.5em 0;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #FFDD01;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 2px dotted transparent;
}

.App-link:hover {
  border-color: #FFDD01;
}

@keyframes App-logo-swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
